version: "3"

services:
  specter:
    image: cyphernode/specter:v1.14.3
    command: $USER /entrypoint.sh "0.0.0.0"
    volumes:
      - "$APP_SCRIPT_PATH/data:/.specter"
      - "$BITCOIN_DATAPATH/bitcoin-client.conf:/.bitcoin/bitcoin.conf:ro"
      - "$GATEKEEPER_DATAPATH/htpasswd:/htpasswd/htpasswd"
    networks:
      - cyphernodeappsnet
      - cyphernodenet
    restart: always
    labels:
      - traefik.enable=true
      - traefik.docker.network=cyphernodeappsnet

      - traefik.http.routers.specter.rule=PathPrefix(`/specter`)
      - traefik.http.routers.specter.entrypoints=websecure
      - traefik.http.routers.specter.tls=true
      - traefik.http.routers.specter.service=specter
      - traefik.http.routers.specter.middlewares=specter-stripprefix@docker,specter-auth@docker

      - traefik.http.routers.specter-onion.rule=PathPrefix(`/specter`)
      - traefik.http.routers.specter-onion.entrypoints=onion
      - traefik.http.routers.specter-onion.service=specter
      - traefik.http.routers.specter-onion.middlewares=specter-stripprefix@docker,specter-auth@docker

      - traefik.http.services.specter.loadbalancer.server.port=25441
      - traefik.http.services.specter.loadbalancer.passHostHeader=true

      - traefik.http.middlewares.specter-redirectregex.redirectregex.regex=^(.*)/specter$$
      - traefik.http.middlewares.specter-redirectregex.redirectregex.replacement=$$1/specter/
      - traefik.http.middlewares.specter-redirectregex.redirectregex.permanent=true
      - traefik.http.middlewares.specter-stripprefix.stripprefix.prefixes=/specter,/specter/
      # - traefik.http.middlewares.specter-stripprefix.stripprefix.forceSlash=true
      - traefik.http.middlewares.specter-auth.basicauth.usersfile=/htpasswd/htpasswd
    deploy:
      labels:
        - traefik.enable=true
        - traefik.docker.network=cyphernodeappsnet

        - traefik.http.routers.specter.rule=PathPrefix(`/specter`)
        - traefik.http.routers.specter.entrypoints=websecure
        - traefik.http.routers.specter.tls=true
        - traefik.http.routers.specter.service=specter
        - traefik.http.routers.specter.middlewares=specter-stripprefix@docker,specter-auth@docker

        - traefik.http.routers.specter-onion.rule=PathPrefix(`/specter`)
        - traefik.http.routers.specter-onion.entrypoints=onion
        - traefik.http.routers.specter-onion.service=specter
        - traefik.http.routers.specter-onion.middlewares=specter-stripprefix@docker,specter-auth@docker

        - traefik.http.services.specter.loadbalancer.server.port=25441
        - traefik.http.services.specter.loadbalancer.passHostHeader=true

        - traefik.http.middlewares.specter-redirectregex.redirectregex.regex=^(.*)/specter$$
        - traefik.http.middlewares.specter-redirectregex.redirectregex.replacement=$$1/specter/
        - traefik.http.middlewares.specter-redirectregex.redirectregex.permanent=true
        - traefik.http.middlewares.specter-stripprefix.stripprefix.prefixes=/specter,/specter/
        # - traefik.http.middlewares.specter-stripprefix.stripprefix.forceSlash=true
        - traefik.http.middlewares.specter-auth.basicauth.usersfile=/htpasswd/htpasswd
      replicas: 1
      placement:
        constraints:
          - node.labels.io.cyphernode == true
      restart_policy:
        delay: 1s
      update_config:
        parallelism: 1
networks:
  cyphernodeappsnet:
    external: true
  cyphernodenet:
    external: true
