version: "3"

services:
  specter:
    image: cyphernode/specter:v1.7.1
    command: $USER /entrypoint.sh "0.0.0.0"
    volumes:
      - "$APP_SCRIPT_PATH/data:/.specter"
      - "$BITCOIN_DATAPATH/bitcoin-client.conf:/.bitcoin/bitcoin.conf:ro"
      - "$GATEKEEPER_DATAPATH/htpasswd:/htpasswd/htpasswd"
    networks:
      - cyphernodeappsnet
      - cyphernodenet
    restart: always
    labels:
      - "traefik.docker.network=cyphernodeappsnet"
      - "traefik.frontend.rule=PathPrefixStrip:/specter"
      - "traefik.frontend.auth.forward.trustForwardHeader=true"
      - "traefik.frontend.whiteList.useXForwardedFor=true"
      - "traefik.enable=true"
      - "traefik.port=25441"
      - "traefik.frontend.auth.basic.usersFile=/htpasswd/htpasswd"
    deploy:
      labels:
        - "traefik.docker.network=cyphernodeappsnet"
        - "traefik.frontend.rule=PathPrefixStrip:/specter"
        - "traefik.frontend.auth.forward.trustForwardHeader=true"
        - "traefik.frontend.whiteList.useXForwardedFor=true"
        - "traefik.enable=true"
        - "traefik.port=25441"
        - "traefik.frontend.auth.basic.usersFile=/htpasswd/htpasswd"
      replicas: 1
      placement:
        constraints:
          - node.labels.io.cyphernode == true
      restart_policy:
        condition: "any"
        delay: 1s
      update_config:
        parallelism: 1
networks:
  cyphernodeappsnet:
    external: true
  cyphernodenet:
    external: true
